@tailwind base;
@tailwind components;
@tailwind utilities;

/*
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

*::-webkit-scrollbar {
  width: 0.875rem;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 0.3125rem;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border: 0.1875rem solid var(--primary);
  border-radius: 0.875rem;
}
*/
